@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700;900&family=Roboto:wght@100;300;400;700;900&display=swap');
.wrap {
    font-family: sans-serif;
}
img {
    max-width: 200px;
}

.login {
    
    background-color: #ffffff;
    border-radius: 10px;

}
h1, h5 {
    text-align: center;
    line-height: 1;
    padding-bottom: 10px;
}
h1 {
    font-family: 'Montserrat', sans-serif;;
    font-weight: 600;
}
h5 {
    font-family: 'Montserrat';
    font-weight: 600;
}
.form-group button{
    width: 100%;
    border-radius: 100px;
}