.banner-info {
    border-radius: 10px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
}

.detail-info label{
    font-size: 20px;
    font-weight: 400;
}

.detail-info p{
    font-size: 24px;
    font-weight: 600;
    width: 100%;
}

.banner-info img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

