.banner-list-choice-container{
  font-family: 'Roboto',sans-serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  
}

.banner-list-choice-container .table {
  
}

.banner-list-choice-container .table .table-head{
  border-bottom: 2px solid black;
  background-color:floralwhite;
}

.banner-list-choice-container .table .item{
  border-bottom: 2px solid black;
  background-color:white;
}

.banner-list-choice-container .table .item .code,
.banner-list-choice-container .table .item .name,
.banner-list-choice-container .table .item .checkbox {
  line-height: 100px;
} */

.banner-list-choice-container .table .item .percentage input {
  margin-top: 20px;
}