.display-banner-container {
  font-size: 14px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}


.display-banner-container .container {
  margin-bottom: 0;
}

.display-banner-container .container .header .header_right .btn-add {
  margin-left: 45px;
  border: 1px solid #0088FF;
  background-color: #0088FF;
  color: white;
  width: 180px;
  height: 40px;
}

.display-banner-container .container .main-content {
  margin: 0 50px 100px 50px;
}

.display-banner-container .container .main-content h2 {
  font-weight: 600;
}

.display-banner-container .container .main-content .row .col-sm-12 .form-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.display-banner-container .container .main-content .row .col-sm-12 .form-group label {
  line-height: 40px;
}

.display-banner-container .container .main-content #showListBannerChoice {
  display: block;
}

.display-banner-container .container .main-content .col-12 .button {
  margin-top: 30px;
  margin-bottom: 80px;
  margin-right: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
}

.display-banner-container .container .main-content .col-12 .button .btn-cancel {
  border: 1px solid #FF4D4D;
  background-color: white;
  color: #FF4D4D;
  width: 180px;
  height: 40px;
  margin-right: 30px;
}

.display-banner-container .container .main-content .col-12 .button .btn-add {
  border: 1px solid #0088FF;
  background-color: #0088FF;
  color: white;
  width: 180px;
  height: 40px;
}