.section-info{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto',sans-serif;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    height: 100%;
}

.section-info .detail-info{
    display: flex;
    flex-direction: column;
}

.section-info .button a button{
    border-radius: 10px;
    width: 100%;
    min-height: 50%;
    transition: transform 200ms;
}
.section-info .button a button:hover{
    transform: scale(1.05);
}

.section-info .detail-info label{
    padding-bottom: 5px;
}

.section-info .detail-info label span{
    font-weight: bold;
}

.section-info .section{
    border-radius:10px;
    border:1px solid rgb(143, 136, 136);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btnSection{
   display: flex;
   flex-direction: column;
   row-gap: 10px;
}