.display-banner-container {
  font-size: 14px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.display-banner-container .header-top .adder{
  height: -moz-fit-content;
  height: fit-content;
}

.display-banner-container .container {
  margin-bottom: 0;
}

.display-banner-container .container .main-content {
  margin: 0 50px 100px 50px;
}

.display-banner-container .container .main-content h2 {
  font-weight: 600;
}

.display-banner-container .container .main-content .form-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: large;
}

.display-banner-container .container .main-content .form-group label {
  line-height: 40px;
}

.display-banner-container .container .main-content #showListBannerChoice {
  display: block;
}

.display-banner-container .container .main-content .button {
  display: flex;
  justify-content: end;
}
@media (max-width: 720px) {
  .display-banner-container .container .main-content .button {
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
}

.display-banner-container .container .main-content .button .btn-outline-secondary,
.display-banner-container .container .main-content .button .btn-primary {
    min-width: 150px;
}
